* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12; /* Желтый цвет при наведении */
}

header {
    text-align: center;
    margin-top: 60px; /* Отступ от навигационной панели */
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

p {
    font-size: 1.1rem;
    color: #666;
}

main {
    display: grid;
    gap: 40px;
}

section {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2rem;
    color: #333;
}

section h3 {
    font-size: 1.5rem;
    color: #555;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #888;
}
